# Database
DATABASE_URL="sqlite.db"

# JWT Secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

# Stock API (Optional - will use mock if not provided)
STOCK_API_KEY=""

# Gemini API Key is handled by AI Studio
GEMINI_API_KEY=

# Backend API URL (Required for Mobile Builds)
# Example: https://ais-dev-dxr4bp7ozirr5eptsriczj-248844357079.asia-southeast1.run.app
VITE_API_URL=
